.hero {
    padding: 120px 0 120px;
    background-color: $red;
    color: white;
    position: relative;
    width: 100%;
    transition: background-color 45s;

    &__title {
        margin-bottom: 15px;
        font-size: 3.2rem;
        font-weight: bold;
    }
    &__author {
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    &__count, &__location {
        font-size: 1.5rem;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: 500;
        // display: none;
    }
}

.hero__quote, #fake-quote {
    font-size: 8rem;
    font-weight: 600;
    margin-bottom: 45px;
    min-height: 92px;
    transition: min-height 500ms;
    line-height: 1.15;
}

#fake-quote {
    position: fixed;
    left: -9999px;
    top: -9999px;
    pointer-events: none;
    z-index: 999;
    color: black;
    width: 960px;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.about {
    padding: 120px 0;

    &__title {
        font-weight: bold;
        font-size: 3.2rem;
        display: none;
    }
    em {
        font-weight: bold;
    }
    &__text {
        width: 90%;
        font-size: 1.4rem;
        line-height: 1.6;
        text-align: center;
        margin: 0 auto;
    }
}

.gallery {
    margin: 90px auto 0px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .image, a {
        margin-right: 10px;
        flex-grow: 1;
        flex-basis: 24%;
        height: 280px;
        background-color: #ddd;
        margin-bottom: 10px;
        position: relative;

        img{
            object-fit: cover;
            object-position: center;
            height: 100%; width: 100%;
        }

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            content: '';
            font-size: 1.4rem;
            letter-spacing: 1px;
            background-color: rgba(255,255,255,0.4);
            opacity: 0;
            transition: opacity 300ms ease-in;
        }

         &:hover:before{
            opacity: 1;
        }
    }
}
